/* nav elements */
.navbar {
  background-color: transparent;
  padding-inline: 10px;
}
#home-button {
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
  letter-spacing: 1px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: rgba(255,255,255,0.20);
  border: 2px solid rgba(255,255,255,0.20);
  border-radius: 10px;
  padding: 5px;
}
.nav-item a {
  cursor: pointer;
  border-radius: 3px;

  border: 2px solid rgba(255,255,255,0.20);
  border-radius: 30px;
  font-size: 12px;
  color: whitesmoke;
  letter-spacing: 1px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 5px;
  background-color: rgba(255,255,255,0.20);
}
.nav-item:active {
  background-color: gray;
}

/* plugin_bideo */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  overflow: hidden;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

#background_video {
  position: absolute;

  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  height: 100%; width: 100%;
}

#video_cover {
  position: absolute;

  width: 100%; height: 100%;

  background: url('/Group-Project-3/plugin_bideo/video_cover.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

#video_controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#play img {
  width: 100px;
}
#pause img {
  width: 90px;
}
#pause {
  display: none;
}

@media (min-width: 768px) {
  #video_controls {
    display: none;
  }
}

/* Demo page specific styles */

body {
  text-align: center;
  font-family: 'proxima-nova', Helvetica;
}

#container {
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
}

#main_content {
  z-index: 2;
  position: relative;
  display: inline-block;

  /* Vertical center */
  top: 40%;
  transform: translateY(-50%);
}

#main_content h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'proxima-nova-condensed', Helvetica;
  color: #fff;
  font-size: 35px;
}

#main_content .sub_head {
  color: rgba(255,255,255,0.5);
  font-size: 18px;
}

#main_content .info {
  color: rgba(255,255,255,0.5);
  font-size: 12px;
  margin-top: 10px;
}

#links {
  margin-top: 50px;
}

#links a {
  border: 2px solid rgba(255,255,255,0.20);
  border-radius: 61px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  display: inline-block;
  margin-right: 15px;
}

#footer {
  position: absolute;
  bottom: 0; left: 0; right: 0;
}
#footer a {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
  margin: 10px;
  font-size: 12px;
}
#footer a:first-child {
  float: left;
}
#footer a:last-child {
  float: right;
}

/* Granim plugin */
#canvas-image-blending {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*  */
.content-background {
  z-index: 5;
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
  letter-spacing: 1px;
  margin-inline: 5px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 5px;
  justify-content: center;
}

.content-background h3 {
  color: black;
}