/*******************/
/*   * CAUTION *   */
/*  PLUGIN STYLES  */
/*******************/

/* bideo */
html,
body {
  width: 100%;
  height: 100%;
}

#container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#background_video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#video_cover {
  position: absolute;

  width: 100%;
  height: 100%;
/* 
  background: url('../img/bg-forest-fullscreen.jpg') no-repeat; */
  background-size: cover;
  background-position: center;
}

#video_controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

#play img {
  width: 100px;
}

#pause img {
  width: 90px;
}

#pause {
  display: none;
}
@media (min-width: 768px) {
  #video_controls {
    display: none;
  }
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Granim */
#canvas-image-blending {
  position: fixed;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/*****************/
/*  OUR STYLES   */
/*****************/

/* styling specific to index page */
#index_page {
  position: absolute;
  top: 30%;
  text-align: center;
  left: 30%;
  right: 30%;
}

/* nav elements */
.navbar {
  background-color: transparent;
  padding-inline: 10px;
}
.nav-item {
  display: inline;
  z-index: 4;
}
.content-background {
  z-index: 3 !important;
  font-size: 16px;
  text-decoration-line: none;
  color: black;
  letter-spacing: 1px;
  margin-inline: 5px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 5px;
}

/* Navbar has to shrink. Otherwise, the options wrap and look weird. */
@media (max-width: 768px) {
  .content-background {
    font-size: 14px;
    letter-spacing: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .navbar {
    padding-inline: 5px;
  }
}

a:hover {
  color: black; /* links light up when hovered over */
  background-color: whitesmoke; /* overwrite default blue styling */
}

#selectedStateName {
  display: inline; /* dropdown on the same line as current state name */
  text-transform: capitalize;
  text-align: center;
}

select {
  text-align: center;
}

.row {
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  right: 0;
}

#footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin: 10px;
  font-size: 12px;
  background-color: transparent;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

#map {
  height: 100%;
  width: 100%;
}

.map-container {
  height: 90vh;
  width: 96vw;
  margin-top: 1vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 1vh;
}

@media (max-width: 768px) {
  .map-container {
    height: 90vh;
    width: 100vw;
    margin-top: 1vh;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 1vh;
  }
}