{% extends 'navbar.html' %}


{% block title %}Home{% endblock %}


{% block head %}
<script src="https://use.typekit.net/nlq1kdt.js"></script>
<script>try { Typekit.load({ async: true }); } catch (e) { }</script>
{% endblock %}


{% block content %}
<div id="container">
  <video id="background_video" loop muted></video>
  <div id="video_cover"></div>
  <div id="overlay"></div>
  <section class="content-background" id="index_page">
    <div>
      <h1>WE ARE NOT ALONE</h1>
      <p>In 2022, there were <strong>4.3k</strong> reported UFO sightings in the United States. Click around for some visualizations.</p>
    </div>
  </section>
</div>

<script src="{{url_for('static', filename='js/plugin_bideo/bideo.js')}}"></script>
<script src="{{url_for('static', filename='js/plugin_bideo/main.js')}}"></script>
{% endblock %}


