<nav class="navbar navbar-expand m-0 p-0">
    <a href="index.html" class="content-background" id="home-button">Home</a>
    <div class="collapse navbar-collapse justify-content-end" id="main-nav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="Sightings_Map.html" class="content-background">Sightings Heatmap</a>
            </li>
            <li class="nav-item">
                <a href="UFO_shapes.html" class="content-background">UFO Shapes</a> <!-- pie charts -->
            </li>
            <li class="nav-item">
                <a href="Sightings_Trends.html" class="content-background">Sightings by Time of Day</a>
            </li>
        </ul>
    </div>
</nav>