<!doctype html>
<html lang="en-us">

<head>
  <title>Sightings Trends</title>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- reset styling -->
  <link rel="stylesheet" href="./static/css/reset.css">
  <!-- Boostrap Stylesheet -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- Our own CSS stylesheet -->
  <link rel="stylesheet" href="./static/css/styles.css" media="screen">
</head>

<body>


  <!-- Start of background -->
  <!-- Create a <canvas> element -->
  <canvas id="canvas-image-blending"></canvas>
  <!-- Call the Granim Plugin script -->
  <script src="plugin_granim/dists/granim.js"></script>
  <!-- Create a Granim instance -->
  <script src="static/js/visualization_bg.js"></script>
  <!-- End of background -->



  <!-- Start of navbar -->
  <script>$(function() {$("#navbarHtml").load("static/html/navbar.html");});</script><div id="navbarHtml"></div>
  <!-- End of navbar -->



  <!-- Start of Visualization -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-11 content-background">
        <!-- Start of State Pie Chart -->
        <h1>Hello World!</h1>
        <!-- End of State Pie Chart -->
      </div>
    </div>
  </div>
  <!-- End of Visualization -->



  <div id="footer">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
      Lorem ipsum dolor.
    </a>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <!-- <script src="./static/js/usStates.js"></script> -->
  <script src="./static/js/Sightings_Map.js"></script>

</body>

</html>